.git/
.vscode/
.venv/
env/
venv/
ENV/
__pycache__/
**/__pycache__/
*.py[cod]
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.env.*
!.env.example
.secrets/

attachments/
cache/
chats/
files/
logs/
users/
voice/
main.log

modules/ffmpeg/

desktop.ini
**/desktop.ini
context.txt
versions/
Боты/
downloads/
build/
dist/
