SQLAlchemy==2.0.49
alembic==1.18.4
openai==1.76.0
Pillow==11.2.1
psycopg[binary]==3.3.3
pydub==0.25.1
pyTelegramBotAPI==4.26.0
python-dotenv==1.2.1
python-dateutil==2.9.0.post0
requests==2.32.3
SpeechRecognition==3.14.2
tiktoken==0.9.0
vk-api==11.9.9
